

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="home">Digital Lync Technologies</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a routerLink="home">Home</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">About Us <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a routerLink="aboutus/ourStrategy">Our Strategy</a></li>
          <li><a routerLink="aboutus/ourApproach">Our Approach</a></li>
          
        </ul>
      </li>
      <li><a routerLink="contactUs">Contact Us</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="registration"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a routerLink="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>

  
<div class="container">
  <h3></h3>
  <p></p>
</div>
<router-outlet></router-outlet>
